body {
  color: #6b6b6b;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

.BlockSecond {
  background: url("./img/photo_1.jpg") no-repeat;
  background-size: cover;
  width: 100%;

  @media (max-width: 1024px) {
    order: 2;
    height: 500px;
  }
}
.askImg {
  background: url("./img/img_ask.png") no-repeat;
  display: block;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.3s;
  @media (min-width: 769px) {
    height: 200px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.askImg:hover {
  background: url("./img/img_ask_hover.png") no-repeat;
  display: block;
  width: 200px;
  height: 200px;
  @media (min-width: 769px) {
    height: 200px;
  }
}

.AbutCoursImg {
  background: url("./img/about-photo.png") no-repeat;

  width: 100%;
  height: 400px;

  @media (max-width: 768px) {
    order: 2;
    height: 470px;
    width: 100%;
    background-size: cover;
  }
  @media (min-width: 1024px) {
    width: 200%;
    margin-right: 30px;
  }
  @media (min-width: 1500px) {
    width: -webkit-fill-available;
    background-position: center;
  }
}

.DescriptionLessonsBlockimg {
  font-size: 100px;
  color: #ddd;
  -webkit-text-stroke: 2px #000;
  color: transparent;
}

.GettingAfterCoursImg {
  background: url("./img/books.png") no-repeat;
  height: 220px;
  background-size: cover;
}

.GettingAfterCoursBlockArrow {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 30px;
  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
.GettingAfterCoursBlockArrow::before {
  content: "\2713";
  font-size: 20px;
  color: #ddd;
}
@media (max-width: 768px) {
  .GettingAfterCoursBlockArrow::before {
    font-size: 15px;
  }
}

.Autor_photo {
  background: url("./img/author.jpg") no-repeat;
  background-size: cover;
  width: 100%;

  @media (max-width: 1100px) {
    order: 2;
    height: 700px;
    width: 90%;
    margin: 0 auto;
  }
}

.AutorAboutBlockArrow {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 30px;
}
.AutorAboutBlockArrow::before {
  content: "\2713";
  font-size: 10px;
  color: #ddd;
  margin: -4px auto;
}
.diplome_img {
  display: block;
  width: 500px;
  height: 500px;
  background-color: #000;
  margin: 0 auto;
}

.instagram_icon {
  background: url("./img/icon-instagram.png") no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border-radius: 6px;
  background-color: #fff;
}
.facebook_icon {
  background: url("./img/icon-facebook.png");
  width: 24px;
  height: 24px;
  border-radius: 5px;

  margin-left: 10px;
  background-color: #fff;
}
